# Database Configuration
DATABASE_URL=postgresql://${POSTGRES_USER:-stacdupes}:${POSTGRES_PASSWORD:-stacdupes}@localhost:5432/${POSTGRES_DB:-stacdupes}

# PostgreSQL Environment Variables
POSTGRES_DB=stacdupes
POSTGRES_USER=stacdupes
POSTGRES_PASSWORD=stacdupes
